@import 'antd/dist/reset.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html {
    font-size: 100%;
}